.git
.gitignore
.github
.vscode
.idea
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
tests
tmp
temp
*.md
docker-compose*.yml
infra
infra_humanangle
.env
.env.*
wp-config.php
